.row {
        display: flex;
      }

      .weatherApplication {
        border: 1px solid #dadde1;
        padding: 15px;
        margin: 20px auto;
        border-radius: 10px;
        max-width: 600px;
        background: #fafafa;
      }

      .temp {
        font-weight: bold;
        font-size: 40px;
      }